<% provide(:title, t('contact.title')) %>
<h1><%=t 'contact.title' %></h1>
<p>
  Morrowind PnP wurde / wird von David Bauske als Hobbyprojekt entwickelt.
</p>
<p>
  <%=t 'contact.content' %>
  <a href="mailto:david.bauske@googlemail.com">david.bauske@googlemail.com</a>.
</p>
<p>
  Morrowind ist eine Marke von Bethesda Softworks LLC. Alle Rechte liegen bei Bethesda. Dies ist ein unabhängiges Fanprojekt.
</p>
<p>
  Hintergrundbild &copy; Alexey Rudikov aka Lelek1980 (<a href="http://lelek1980.deviantart.com/art/Balmora-Aerial-view-291703424">Bild auf Deviant Art</a>)
</p>
