<h1>Morrowind PnP</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Willkommen bei Morrowind PnP, deinem online-charsheet für Arians PnP-Kracher! Klicke einfach den Link, um deinen Account zu aktivieren:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
