<h1>Morrowind PnP</h1>
<h2>Password zurück setzen</h2>

<p>Um dein Passwort zurück zu setzen, klicken auf den unten stehenden Link:</p>

<%= link_to "Passwort zurück setzen", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Dieser Link ist 2 Stunden lang gültig.</p>

<p>
Wenn du das Zurücksetzen deines Passworts nicht angefordert hast, ignoriere diese Email einfach und dein Passwort bleibt, wie es ist.
</p>

