<div class="char-notes">
  <div class="row">
    <div class="col-sm-5 padding-sm">
      <div class="char-property" title="Ort">
        <div class="property-icon">
          <%= image_tag 'location.png', alt: 'Ort' %>
        </div>
        <div class="property-key" editable="true" model="char.location"
             title="{{ char.location }}">
          {{ char.location }}
        </div>
      </div>
    </div>
    <div class="col-sm-2 padding-sm">
      <div class="char-property" title="Datum">
        <div class="property-icon">
          <%= image_tag 'calendar.png', alt: 'Datum' %>
        </div>
        <div class="property-key" editable="true" model="char.day" number="true">
          {{ char.day }}.
        </div>
      </div>
    </div>
    <div class="col-sm-5 padding-sm">
      <select ng-model="char.month" class="form-control charsheet-select"
              selectpicker="" title="Monat">
        <% [:january, :february, :march, :april, :may, :june, :july,
            :august, :september, :october, :november, :december].each do |month| %>
          <option value="<%= month %>"><%= t("months.#{month}") %></option>
        <% end %>
      </select>
    </div>
  </div>
  <text-angular ng-model="char.notes" ng-model-options="{updateOn: 'blur'}"></text-angular>
</div>