<h1>Charaktere von <%= @user.name %></h1>
<% @characters.each do |c| %>
  <%= render 'shared/minitile', target: c, name: c.name,
             image: c.race.try(:image).try(:url, :small),
             delete: true,
             pdf: true
  %>
<% end %>
<% if current_user&.role == 'guest' %>
  <div class="actions">
    Du bist als Gast angemeldet. Es steht dir frei, die Informationstabellen (oben rechts) einzusehen,
    aber aktuell darfst du keinen eigenen Charakter erstellen.
  </div>
<% else %>
  <div class="actions">
    <%= link_to "Neuer Charakter", 'characters/new', class: 'btn' %>
  </div>
<% end %>
