/**
 *= require black_and_white.scss
 */

/* Black and White filter */
body {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  background-image: none !important;
}

/* Remove paper */
.char-base, .char-attributes, .char-skills, .char-weapon-skills,
.char-resis, .char-equip, .char-items, .char-notes, .char-spells,
.container.paper {
  background-image: none !important;
  filter: none !important;
  -webkit-filter: none !important;
  border: 1px solid #999;
}

body > .container-fluid {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}

/* Buttons, form elements */
.btn:not(.selectpicker) {
  background-image: none !important;
  border: 1px solid #999;
  color: black !important;
}

.btn:not(.selectpicker):hover,
.btn:not(.selectpicker):active,
.btn:not(.selectpicker):hover:active,
.btn:not(.selectpicker):visited,
.btn:not(.selectpicker):focus,
.btn:not(.selectpicker):active.focus {
  border: 1px solid #999;
  color: black !important;
}

.btn-group .btn:not(.selectpicker).active {
  color: white !important;
}

.char-status .char-status-bar .text {
  text-shadow: 0 0 3px black;
  text-decoration: none;
}

.char-status .char-status-bar .text.health span:first-child::before {
  content: 'Lebenspunkte:  ';
}

.char-status .char-status-bar .text.stamina span:first-child::before {
  content: 'Ausdauer:  ';
}

.char-status .char-status-bar .text.mana span:first-child::before {
  content: 'Magicka:  ';
}

.editable {
  text-shadow: none;
  text-decoration: underline;
}