@import "mixins";

$skill-icon-width: 34px;
$skill-name-width: 136px;
$skill-value-width: 30px;

.charsheet {
  &::after {
    clear: both;
  }
  width: 1920px;

  .charsheet-col, .charsheet-col-small, .charsheet-col-large {
    float: left;
    padding: 0;
    display: block;
  }
  .charsheet-col {
    width: 457px;
  }
  .charsheet-col-small {
    width: 383px;
  }
  .charsheet-col-large {
    width: 600px;
  }

  .char-base {
    @include paper;
    @include shadowed;
    position: relative;
    z-index: 20;

    .selector-container {
      margin-bottom: 8px;
    }

    .char-portrait {
      display: inline-block;
      float: left;
      width: 200px;
      margin-right: 10px;

      .char-picture {
        width: 100%;
        min-height: 150px;
        text-align: center;
        position: relative;
      }
      .char-image-label {
        margin-bottom: 0;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
      }
      .char-image-delete-btn {
        position: absolute;
        z-index: 5;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
      }
      #race-icon {
        position: relative;
        z-index: 1;
        height: 150px;
        margin-right: 1px;
      }
      #birthsign-icon {
        position: absolute;
        z-index: 0;
        left: 10px;
        top: 10px;
        border: 2px solid #33142D;
        border-radius: 6px;
        box-shadow: 0 0 10px black;
      }
      .fav-attr-icon {
        position: absolute;
        z-index: 1;
        box-shadow: 0 0 10px black;
        top: 80px;

        &.fav-attr-1 {
          left: 12px;
        }
        &.fav-attr-2 {
          left: 44px;
        }
      }
      #specialization-indicator {
        position: absolute;
        z-index: 0;
        width: 48px;

        left: 19px;
        top: 109px;
      }
      #level-indicator {
        position: absolute;
        z-index: 2;
        left: 10px;
        bottom: 3px;
        $size: 64px;
        width: $size;
        height: $size;
        background-image: image-url('level-counter.png');
        background-size: 100% 100%;

        .level {
          margin-top: 3px;
          font-family: 'planewalker', serif;
          line-height: 1;
          font-size: 22px;
        }
        .level-count {
          line-height: 1;
          margin-top: -1px;
        }
      }
      .level-up-buttons {
        position: absolute;
        width: 100%;
        z-index: 3;
        top: 110px;
      }
      .char-name {
        background-image: image-url('banner.png');
        background-size: 100% 100%;
        padding: 25px 20px;
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 2;
        margin: -20px 0 0;
      }
    }

    .char-base-options {
      flex-grow: 1;

      .selector-container, .display-container {
        text-align: right;
      }

      .display-container {
        h1, h2, h3, h4, h5 {
          vertical-align: baseline;
        }
      }

      .charsheet-select, .bootstrap-select.btn-group.form-control {
        display: inline-block;
        width: 200px;
        margin-bottom: 10px;
      }

      .charsheet-select:not(.selectpicker):not(.dropdown-toggle) {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
      }
    }

    .char-status {
      .char-status-bar {
        line-height: 30px;
        text-align: center;
        margin-bottom: 6px;
        .bar {
          height: 30px;
          border: 1px solid black;
          border-radius: 15px;
          overflow: hidden;

          &>* {
            transition: width 0.5s;
            height: 100%;
            box-shadow: inset 0 -10px 20px rgba(0,0,0,0.4);
          }
          .health {
            background-color: #96030E;
          }
          .stamina {
            background-color: green;
          }
          .mana {
            background-color: blue;
          }
        }
        .text {
          position: absolute;
          left: 0;
          right: 0;
          color: white;
          font-size: larger;
          font-family: 'planewalker', serif;
        }
      }
    }
  }

  .help {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
    text-align: center;
    @include wooden-button;
    border-radius: 16px;
    font-size: 22px;

    &:after {
      content: '?';
    }
  }

  .editable {
    cursor: pointer;
  }

  .char-attributes {
    @include paper;
    @include shadowed;

    .char-attributes-table {
      @include pseudo-table(32px);
    }

    .char-attribute {
      position: relative;
    }

    .level-up-attribute-btn {
      position: absolute;
      margin-left: -12px;
      margin-top: 4px;
      padding-left: 6px !important;
    }
  }

  .char-skills {
    @include paper;
    @include shadowed;

    .skill-heading {
      display: inline-block;
      &.skill-name {
        width: $skill-icon-width + $skill-name-width;
        padding-left: $skill-icon-width;
      }
      &.skill-value {
        width: $skill-value-width;
        transform: rotate(-70deg);
      }
    }

    .char-skills-container {
      min-height: 40px;
    }

    div[data-skill-type="other"] {
      padding-bottom: 30px;
    }
  }

  .char-items {
    @include paper;
    @include shadowed;
    font-size: 0;
    z-index: 1;
    position: relative;
    padding-bottom: 100px !important;

    .item-container {
      display: inline-block;
      width: 275px;
      min-height: 30px;

      &:first-child {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }

      .container-weight {
        float: right;
        font-size: 14px;
        vertical-align: baseline;
        display: inline-block;
        line-height: 34px;
        height: 34px;
      }
      .container-search {
        width: 90px;
        float: right;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
        margin: 0;
      }
    }
    .item-placeholder {
      display: block;
      border: 2px dashed black;
      border-radius: 10px;
      height: 40px;
      width: 100%;
      font-size: 16px;
      text-align: center;
      font-family: 'planewalker', serif;
      line-height: 40px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &:hover {
        @include shadowed;
      }
      &:active {
        @include clear-shadowed;
      }
    }
  }

  .char-equip {
    @include paper;
    @include shadowed;

    text-align: center;
    z-index: 20;
    height: 612px;
    position: relative;
  }
}

.char-equip-slot-container {
  position: absolute;
  text-align: left;

  .char-equip-slot {
    $size: 64px;
    width: $size;
    height: $size;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    box-shadow: inset 0 0 10px black;
    line-height: $size;
    cursor: pointer;
    text-align: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;

    .char-equip-slot-content {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-family: 'planewalker', serif;
    }

    &.chest {
      background-image: image-url('chest.png');
    }
    &.head {
      background-image: image-url('head.png');
    }
    &.arms {
      background-image: image-url('arms.png');
    }
    &.shoulders {
      background-image: image-url('shoulders.png');
    }
    &.legs {
      background-image: image-url('legs.png');
    }
    &.feet {
      background-image: image-url('feet_outline.png');
    }
    &.hand {
      background-image: image-url('shield.png');
    }
  }

  .equipped-item-name {
    display: inline-block;
    max-height: 32px;
    overflow: hidden;
    max-width: 100%;
  }

  .char-weapon-slot {
    .char-weapon-data {
      @include wooden;
      @include wooden-shadowed;
      border-radius: 8px;
      text-align: left;
    }
    cursor: pointer;
    width: 170px;
    text-align: center;
    .column-container {
      .column-50 {
        width: 50%;
        float: left;
      }
    }

    padding-top: 6px;
    .padded {
      padding-left: 6px;
      padding-right: 6px;
    }

    h4 {
      margin: 2px 0;
    }

    .weapon-properties {
      cursor: initial;
    }
  }
}

.char-equip {
  .head {
    z-index: 400;
    top: 85px;
    left: 268px;
  }
  .shoulders {
    z-index: 399;
    top: 200px;
    left: 190px;
  }
  .arms {
    z-index: 398;
    top: 200px;
    left: 110px;
  }
  .chest {
    z-index: 397;
    top: 200px;
    left: 268px;
  }
  .legs {
    z-index: 391;
    top: 340px;
    left: 268px;
  }
  .feet {
    z-index: 390;
    top: 453px;
    left: 268px;
  }
  .left_hand {
    z-index: 395;
    top: 271px;
    right: 30px;
  }
  .right_hand {
    z-index: 395;
    top: 271px;
    left: 30px;
  }
  .shield_hand {
    z-index: 396;
    top: 200px;
    left: 400px;
  }
}

.Kampf {
  .head {
    top: 20px;
    left: 260px;
  }
  .shoulders {
    top: 107px;
    left: 327px;
  }
  .chest {
    top: 175px;
    left: 366px;
  }
  .legs {
    top: 448px;
    left: 379px;
  }
  .arms {
    top: 200px;
    left: 133px;
  }
  .feet {
    top: 453px;
    left: 156px;
  }
  .left_hand {
    top: 271px;
    right: 30px;
  }
  .right_hand {
    top: 271px;
    left: 30px;
  }
  .shield_hand {
    top: 175px;
    left: 447px;
  }
}

.Magie {
  .head {
    top: 20px;
    left: 330px;
  }
  .shoulders {
    top: 58px;
    left: 203px;
  }
  .chest {
    top: 189px;
    left: 354px;
  }
  .legs {
    top: 385px;
    left: 131px;
  }
  .arms {
    top: 122px;
    left: 378px;
  }
  .feet {
    top: 439px;
    left: 403px;
  }
  .left_hand {
    top: 234px;
    right: 30px;
  }
  .right_hand {
    top: 195px;
    left: 30px;
  }
  .shield_hand {
    top: 155px;
    left: 442px;
  }
}

.List {
  .head {
    top: 60px;
    left: 250px;
  }
  .shoulders {
    top: 110px;
    left: 314px;
  }
  .chest {
    top: 228px;
    left: 319px;
  }
  .legs {
    top: 385px;
    left: 350px;
  }
  .arms {
    top: 134px;
    left: 431px;
  }
  .feet {
    top: 448px;
    left: 145px;
  }
  .left_hand {
    top: 195px;
    right: 30px;
  }
  .right_hand {
    top: 225px;
    left: 30px;
  }
  .shield_hand {
    top: 385px;
    left: 424px;
  }
}

.char-armor-box {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 170px;
}

.char-hand-to-hand-box {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 165px;
}

.char-initiative-box {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 160px;
}

.char-speed-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 160px;
}

.char-skill {
  width: 310px;
  height: 34px;
  white-space: nowrap;

  & > div > * {
    display: inline-block;
  }
  .icon-col {
    width: $skill-icon-width;
    box-shadow: 0 0 10px black;
  }
  .name-col {
    width: $skill-name-width;
    font-family: 'planewalker', serif;
    white-space: nowrap;
  }
  .value-col {
    width: $skill-value-width;
  }
  .btn-col {
    font-size: 0;
    border-radius: 6px;
    border: 1px solid black;

    .skill-btn {
      @include wooden-button;
      padding: 0;
      font-size: 14px;
      width: 15px;
      border: none;
    }
  }
}

.editable-edit-box.form-control {
  position: absolute;
  z-index: 2000;
  width: 100px;
  border-radius: 6px;
  @include shadowed;
  @include wooden;
}
.editable-seamless-box {
  position: absolute;
  z-index: 100;
}

.editable {
  &:hover {
    text-shadow: 0 2px 5px black;
  }
  text-shadow: 0 2px 10px black;
  transition: text-shadow 0.2s;
}

.multipliers {
  float: right;
}

.char-attributes-table img {
  box-shadow: 0 0 10px black;
}

.char-weapon-skills {
  @include paper;
  @include shadowed;
  padding-top: 30px;
  padding-bottom: 30px;

  .char-weapon-skills-table {
    @include pseudo-table(34px);
  }
}

$char-property-border-radius: 8px;
.char-property-group .char-property {
  margin: 0;
  border-radius: 0;
  border-bottom: 0px !important;
  &:first-child {
    border-top-left-radius: $char-property-border-radius;
    border-top-right-radius: $char-property-border-radius;
  }
  &:last-child {
    border-bottom-left-radius: $char-property-border-radius;
    border-bottom-right-radius: $char-property-border-radius;
    border-bottom: 1px solid black;
  }
}

.char-property {
  &:not(.char-property-embedded) {
    @include wooden;
    @include shadowed;
  }

  border-radius: $char-property-border-radius;
  width: 100%;
  height: 34px;
  font-size: 16px;
  vertical-align: top;
  margin: 4px 0;
  text-align: left;

  .property-icon {
    float: left;
    width: 32px;
    text-align: center;
    border-right: 1px solid black;
    margin-right: 4px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .property-key {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .property-value {
    width: 40px;
    text-align: center;
    border-left: 1px solid black;
    float: right;
  }

  &>* {
    height: 32px;
    line-height: 32px;
  }

  &.char-property-small {
    height: 30px;
    font-size: 14px;

    .property-icon img {
      width: 22px;
      height: 22px;
    }
    .property-value {
      width: 32px;
    }

    &>* {
      height: 28px;
      line-height: 28px;
    }
  }

  &.char-property-embedded {
    margin: 0;
    border-radius: 0;
    border-top: 1px solid black;
  }
}

.char-property-minimal {
  clear: both;

  .property-icon {
    float: left;
    margin-right: 4px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

.char-spells {
  background: image-url('old_book.png') no-repeat;
  background-size: 100% 100%;
  @include shadowed;
  height: 700px;
  padding: 15px 10px 20px 35px;

  .char-spells-heading {
    height: 32px;
    h3 {
      margin-top: 5px;
      height: 32px;
      line-height: 32px;
      margin-bottom: 0;
    }
  }

  .all-char-spells {
    height: 575px;
    width: 412px;
    overflow-y: auto;
  }

  .new-spell {
    margin-bottom: 0;
  }

  .char-spells-container {
    margin-top: 10px;
    @include pseudo-table(32px, 5px);
    position: relative;

    .column-icon {
      width: 32px;
    }
    .column-mana {
      width: 47px;
    }
    .column-range {
      width: 55px;
    }
    .column-duration {
      width: 35px;
    }
    .column-effect {
      width: 90px;
    }

    .char-spell {
      &:hover .reveal-buttons {
        display: block;
      }
      .reveal-buttons {
        position: absolute;
        right: 0;
        display: none;
        text-align: right;
      }
    }

    .column-btn {
      width: 27px;
      a {
        color: #424242;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }

  .spell-school-heading {
    text-align: center;
  }

  .spell-school-checks {
    @include pseudo-table(32px);
    .check-column-label {
      width: 20%;
    }
    .check-column-value {
      width: 70%;
    }
    h4 {
      text-align: right;
    }
    .char-property {
      margin: 1px 0;
    }
  }
}

.gradient-line {
  height: 2px;
  width: 40px;
  background-color: black;
  display: inline-block;
  margin-bottom: 5px;
}
.gradient-line-left {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, black 100%);
}
.gradient-line-right {
  background: linear-gradient(to left, rgba(0,0,0,0) 0%, black 100%);
}

.char-notes {
  @include paper;
  @include shadowed;
}

.char-resis {
  @include paper;
  @include shadowed;
  .char-resis-table {
    @include pseudo-table(32px);
  }
}

img.icon-small {
  width: 24px;
  height: 24px;
}

.damage-button {
  cursor: pointer;
  background-image: image-url('blood_splatter.png');
  background-position: 80% 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;

  //transition: all 0.3s;
  //-webkit-transition: all 0.3s;
  //-moz-transition: all 0.3s;

  &:hover {
    background-size: 120%;
    background-position: 30% 30%;
    font-size: 16px;
    font-weight: bold;
  }
  &:active {
    background-size: 100%;
    background-position: 80% 80%;
  }
}

.non-draggable {
  cursor: default;
}

.text-danger {
  color: red;
}
.text-warning:not(.text-danger) {
  color: #BF4100;
}
