.flex-row {
  display: flex;
  flex-direction: row;

  &.flex-row--centered {
    align-items: center;
  }

  &.flex-row--with-spacing {
    & > * {
      &:not(:first-child) {
        margin-left: 8px;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.flex-grow {
  flex-grow: 1;

  &.flex-grow--zero-basis {
    flex-basis: 0;
  }
}
