<h1>Version <%= @rule_set.version %></h1>

<%= render 'links' %>

<div class="actions">
  <% if current_user.has_role?(:gm) %>
    <%= link_to 'Bearbeiten', edit_rule_set_path(@rule_set), class: 'btn' %>
  <% end %>
  <%= link_to 'Zurück', rule_sets_path, class: 'btn' %>
</div>
